<div class="item-wrapper" [ngClass]="{ 'completed': todo.completed }" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-checkbox color="primary" [checked]="todo.completed"></mat-checkbox>
  <span fxFlex>{{ todo.title }}</span>
  <button class="edit-button" mat-icon-button color="primary">
    <mat-icon aria-label="Edit todo">edit</mat-icon>
  </button>
  <button
    class="delete-button"
    mat-icon-button
    color="primary"
    (click)="onDelete()">
    <mat-icon aria-label="Delete todo">delete</mat-icon>
  </button>
</div>